.slider {
   max-width: 400px;
   margin: 0 auto;
   text-align: center;
}

.slider__input {
   width: 100%;
}

.slider__image {
   display: block;
   margin: 20px auto;
   max-width: 100%;
   transition: transform 0.3s ease-in-out;
}
